<!doctype html>
<head>
  <title>Draft Projections</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
  <h1 class="logo">Players</h1>

  <div>
    <a  href="{{ url_for('search_page', _external=True) }}">Search for a Player</a><br>
    <a  href="{{ url_for('init_home', _external=True) }}">Return Home</a>
  </div>
  {{ pagination.links }}
  <div>
    {% for table in tables %}
      <h2>{{titles[loop.index]}}</h2>
      <br>
      {{ table|safe }}
    {% endfor %}
    {{ pagination.links }}
  </div>
